{% extends "layout.html" %} {% block content %}
<div class="container-fluid" style="background-color: #F6F6F6; padding:50px;height: 100%; width: 100%">
  <h1>Portfolio Optimisation</h1>
  <div style="display: flex;flex-direction: row; justify-content: center;">
    <div>
      <h3>Select tickers</h3>
      <div style="border-radius: 40px;background-color: white;padding: 30px;width: fit-content">
        <form action="/" method="post">
          {% for i in range(1, 6) %}
          <div class="row" style="padding: 5px; display: flex; justify-content: space-between ;">
            <div class="col-auto">
              <label>Ticker {{i}}</label>
            </div>
            <div class="col-auto">
              <select name="ticker[]" class="form-select" style="width: 230px;">
                <option value=""></option>
                {% for ticker in tickers %}
                <option value="{{ ticker }}">{{ ticker }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          {% endfor %}
          <button class="btn btn-primary" type="submit" style="margin: 10px 0px;">Optimise Portfolio</button>
          {% if error %}
          <p class=error style="color: red;"><strong>Error:</strong> {{ error }}
            {% endif %}
        </form>
      </div>
    </div>
    <div style="margin-left: 30px;">
      <h3>Results</h3>
      <div style="border-radius: 40px;background-color: white;padding: 30px; width: 900px;">
          <p class="card-title" style="font-weight: 700;">Expected Annual Return</p>
          <div class="bg-light rounded-2 p-1" style="width: 250px; height: 35px">
            <p class="card-text">{{ optimal_portfolio_return }}</p>
          </div>

          <p class="card-title" style="font-weight: 700;">Expected Volatility</p>
          <div class="bg-light rounded-2 p-1"  style="width: 250px; height: 35px">
            <p class="card-text">{{ optimal_portfolio_volatility }}</p>
          </div>

          <p class="card-title" style="font-weight: 700;">Sharpe Ratio</p>
          <div class="bg-light rounded-2 p-1"  style="width: 250px; height: 35px">
            <p class="card-text">{{ optimal_sharpe_ratio }}</p>
          </div>

      
        <div class="row mt-4">
          <div class="col">
            <div class="bg-light rounded-2 px-4 py-4">
              <h4>Optimised Weights</h4>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ticker</th>
                    <th scope="col">Allocation</th>
                  </tr>
                </thead>
                <tbody>
                  {% for i, ticker, weight in optimal_weights %}
                  <tr>
                    <th scope="row">{{ i }}</th>
                    <td>{{ ticker }}</td>
                    <td>{{ (weight * 100)|round(2) }}%</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}